.btn-subscribe {
    height: 3.8rem;
    width: 10rem;
    color: $color-text-white;
    font-weight: $font-weight-medium;
    background-color: $color-brand-primary;
    outline: none;
    border: none;

    @include respond(sm) {
        margin-left: -25%;
    }
}