.btn-subscribe {
    height: 3.8rem;
    width: 10rem;
    color: $color-text-white;
    font-weight: $font-weight-medium;
    background-color: $color-brand-primary;
    outline: none;
    border: none;
    margin-left: -2%;

    @include respond(1440px) {
        margin-left: -3%;
    }

    @include respond(1340px) {
        margin-left: -3%;
    }

    @include respond(1240px) {
        margin-left: -4%;
    }

    @include respond(992px) {
        margin-left: 1%;
    }

    @include respond(xl) {
        margin-left: -11%;
    }

    @include respond(lg) {
        margin-left: -8%;
    }

    @include respond(768px) {
        margin-left: -2%;
    }

    @include respond(400px) {
        margin-left: -8%;
    }


    @include respond(376px) {
        margin-left: -30%;
    }
}