.btn-subscribe {
    height: 3.8rem;
    width: 10rem;
    color: $color-text-white;
    font-weight: $font-weight-medium;
    background-color: $color-brand-primary;
    outline: none;
    border: none;

    @include respond(xl) {
        margin-left: -30%;
    }


    @include respond(lg) {
        margin-left: -25%;
    }


    @include respond(md) {
        margin-left: -2%;
    }

    @include respond(sm) {
        margin-left: -25%;
    }
}

// .nav-btn{
//     border: none;
//     border-radius: 0;

//     background-color: $color-icon-dark;
//     height: 1.7px;
//     width: 2rem;


//     &::before,
//     &::after {
//         background-color: $color-icon-dark;
//         height: 1.7px;
//         width: 2rem;
//         content: "";
//         display: block;
//     }

//     &::before { transform: translateY(-.6rem); }
//     &::after { transform: translateY(.5rem); }
    
// }