.copyright {
    margin-left: -2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-right: -2rem;
    border-top: $border-color-light;
    height: 82px;

    @include respond(sm) {
        margin-right: -2rem;
        padding-top: .5rem;
        font-size: $font-size-base;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 102px;
    }

    &__left {
        margin-left: 4rem;

        span {
            font-weight: $font-weight-semibold;
        }

        @include respond(sm) {
            margin-right: 1rem;

        }
    }

    &__right {
        margin-right: 2rem;
        display: flex;
        font-weight: $font-weight-semibold;

        @include respond(sm){
            margin-left: -8rem;
        }

        &-1 {
            margin-left: 2rem;

            @include respond(xl) {
                margin-left: 1rem;
            }

            @include respond(sm) {
                margin-right: 1rem;

            }

        }
    }
}