.copyright {
    margin-left: -2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-right: -3rem;
    border-top: $border-color-light;
    height: 82px;
    overflow: hidden;

    @include respond(lg){
        margin-left: -2rem;
        padding-left: 1rem;
        margin-right: -2rem;
    }

    @include respond(768px){
        margin-left: -1rem;
        padding-left: 1rem;
        margin-right: -2rem;
    }

    @include respond(576px){
        margin-right: -1.5rem;
    }

    @include respond(480px) {
       
        padding-top: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 102px;
    }

    @include respond(sm) {
        font-size: $font-size-base;
        margin-right: 0;
    }

    &__left {
        margin-left: 4rem;
        color: $color-gray;

        span {
            font-weight: $font-weight-semibold;
            color: $color-text-dark;
        }

        @include respond(lg) {
            margin-left: 2rem;
            margin-right: 2rem;
        }

        @include respond(768px) {
            margin-left: 0;
        }


        @include respond(sm) {
            margin-left: 1rem;
            margin-right: 2rem;

        }
    }

    &__right {
        margin-right: 2rem;
        display: flex;
        font-weight: $font-weight-semibold;

        @include respond(480px) {
            margin-left: -1rem;
            padding-top: 1rem;
        }

        &-1 {
            margin-left: 2rem;

            @include respond(xl) {
                margin-left: 1rem;
            }

            @include respond(376px){
                margin-right: 1.2rem;
            }


            @include respond(sm) {
                margin-left: 2rem;

            }

        }
    }
}