.copyright {
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    list-style: none;

    @include respond(sm) {
        padding-top: .5rem;
        font-size: $font-size-base;
        display: inline-block;
        margin-right: 2rem;
    }

    &__left {
        span {
            font-weight: $font-weight-semibold;
        }
    }

    &__right {
        display: flex;
        font-weight: $font-weight-semibold;

        &-1 {
            margin-left: 2rem;

            @include respond(sm) {
                margin-left: 0rem;
                margin-top: 1rem;
                margin-right: 2rem;
            }

        }
    }
}