.event {
    margin-left: 2rem;
    align-items: center;
    margin-bottom: 2rem;

    @include respond(sm) {
        margin-left: 1rem;
        margin-bottom: 0rem;
        margin-right: 1rem;
        overflow: hidden;
    }

    &__title {
        border-bottom: $border-color-dark-thick;

        @include respond(sm) {
            margin-top: 2rem;
        }

        &--box {
            background-color: $color-background-dark;
            color: $color-text-white;
            text-transform: uppercase;
            font-size: $font-size-xl;
            line-height: $input-line-height-xl;
            letter-spacing: 0%;
            width: 12rem;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            @include respond(sm) {
                font-size: $font-size-base;
                width: 136px;
                height: 42px;
            }

        }
    }

    &__content {
        padding-top: 2.5rem;
        display: flex;
        align-content: stretch;
        justify-content: space-between;
        padding-bottom: 2rem;
        border-bottom: .01rem solid $color-gray;

        @include respond(lg) {
            margin-left: 1rem;
        }

        @include respond(md) {
            display: flex;
            flex-direction: column;
        }

        &--text {
            order: -1;
            width: 10%;

            @include respond(md) {
                padding-top: 1rem;
                order: 0;
                width: 100%;
            }

            &-hiden {
                display: none;
                visibility: hidden;
                opacity: 0;

                @include respond(md) {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                }

                @include respond(sm) {
                    font-size: $font-size-base;
                    line-height: $input-line-height-base;
                }
    

                &-title {
                    font-family: $font-family-display;
                    text-transform: uppercase;
                    font-size: $font-size-h3;
                    font-weight: $font-weight-light;
                    line-height: $input-line-height-h3;
                    letter-spacing: 5%;

                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @include respond(sm){
                        font-size: toRem(36);
                    }

                    @include respond(sm) {
                        line-height: $input-line-height-2xl;
                    }


                }

                &-location {
                    margin-top: -.6rem;
                    display: flex;
                    font-size: $font-size-lg;
                    line-height: $input-line-height-lg;
                    letter-spacing: 2%;

                    .icon__location--hiden {
                        margin-top: -1rem;
                    }

                    .location__text--hiden {
                        margin-top: -.8rem;
                        margin-left: .5rem;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

            }

            @include respond(md) {
                display: flex;
            }
        }

        &--calendar {

            order: -1;
            width: 10%;
            margin-right: 1rem;

            @include respond(sm) {
                order: 0;
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &-day {
                text-transform: uppercase;
                font-size: $font-size-lg;
                line-height: $input-line-height-lg;
                letter-spacing: 2%;
                padding-left: 1.7rem;

                @include respond(md) {
                    padding-left: 1rem;
                }

                @include respond(sm) {
                    font-size: $font-size-base;
                    line-height: $input-line-height-base;
                }
            }

            &-date {
                margin-left: 1rem;
                font-family: $font-family-display;
                font-size: $font-size-h2;
                line-height: $input-line-height-h2;
                letter-spacing: 5%;

                @include respond(md) {
                    margin-top: -2rem;
                }

                @include respond(sm) {
                    margin-top: 0;
                    font-size: toRem(48);
                    line-height: 48px;
                }
            }
        }

        &--pictures {
            width: 40%;

            @include respond(md) {
                width: 100%;
            }

            &-images {
                display: flex;

                width: 80%;

                @include respond(md) {
                    width: 100%;
                }

                &-1 {
                    width: 80%;
                    padding-right: .5rem;

                    @include respond(md) {
                        width: 87%;
                    }

                    @include respond(sm) {
                        width: 85%;
                    }
                }

                &-2 {

                    width: 80%;
                    height: auto;
                    object-fit: cover;
                    clip-path: inset(0 85% 0 0);
                    margin-right: -78%;

                    @include respond(sm) {
                        margin-right: -87%;
                        width: 85%;
                    }
                }

                .carousel__image {
                    opacity: 0;
                }

                .carousel__image.active {
                    opacity: 1;
                }

            }
        }

        &--detail {
            width: 50%;
            margin-left: -6rem;
            font-size: $font-size-lg;
            line-height: $input-line-height-lg;
            letter-spacing: 2%;

            @include respond(md) {
                width: 100%;
                margin-left: 0rem;
            }

            @include respond(sm) {
                font-size: $font-size-base;
            }

            &-title {
                font-family: $font-family-display;
                text-transform: uppercase;
                font-size: $font-size-h3;
                font-weight: $font-weight-light;
                line-height: $input-line-height-h3;
                letter-spacing: 5%;
                margin-top: -1rem;

                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

                @include respond(md) {
                    display: none;
                    visibility: hidden;
                    opacity: 0;
                }

                
            }

            &-location {
                display: flex;
                line-height: $input-line-height-lg;
                letter-spacing: 2%;

                @include respond(md) {
                    display: none;
                    visibility: hidden;
                    opacity: 0;

                }

                .location__text {
                    margin-left: .5rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @include respond(md) {
                        display: none;
                        visibility: hidden;
                        opacity: 0;

                    }
                }
            }

            &-paragraph {
                margin-top: 1rem;
                line-height: $input-line-height-base;
                letter-spacing: 1%;

                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

                @include respond(sm) {
                   

                }
            }

            &-tag {
                display: flex;
                margin-top: 2.5rem;

                @include respond(zl) {
                    margin-top: 1rem;
                }

                @include respond(lg) {
                    display: flex;
                    flex-wrap: wrap;
                }

                @include respond(sm) {
                    margin-top: -.1rem;
                }

                &-box {
                    justify-content: center;
                    align-items: center;
                    border: $border-color-light;
                    padding-right: 1rem;
                    padding-left: 1rem;
                    margin-right: 1rem;
                    font-weight: $font-weight-medium;
                    font-size: $font-size-base;
                    line-height: $input-line-height-sm;
                    letter-spacing: 2%;

                    @include respond(lg) {
                        padding-right: .5rem;
                        padding-left: .5rem;
                    }

                    @include respond(sm) {
                        padding-right: .5rem;
                        padding-left: .5rem;
                        margin-top: 1rem;
                    }
                }
            }
        }

        &--icon {
            width: 5%;
            color: $color-brand-primary;
            margin-top: -15rem;
            align-items: end;
            justify-content: end;
            cursor: pointer;

            @include respond(lg) {
                margin-top: -14rem
            }

            @include respond(md) {
                display: none;
                visibility: hidden;
                opacity: 0;
            }
        }

    }
}

.icon {

    width: 100%;

    &__carousel {
        cursor: pointer;
        padding-top: 7.5rem;
        align-content: center;
        justify-content: center;
        color: $color-text-white;
        width: 32px;
        height: 32px;
        z-index: 100;

        @include respond(xl) {
            margin-top: -2rem;
            margin-left: -1.5%;
        }

        @include respond(lg) {
            width: 50%;
            margin-top: -3rem;
            margin-left: -1.5%;
        }

        @include respond(md) {
            padding-top: 12rem;
            padding-left: 2%;
        }

        @include respond(sm) {
            padding-top: 8rem;
            padding-left: 4%;
            width: 75%;
        }

        &--right {
            transform: scaleX(-1);
            margin-left: 0rem;

            @include respond(xl) {
                margin-left: -.2rem;
            }

            @include respond(lg) {
                margin-left: -7rem;
            }

            @include respond(md) {
                margin-left: 4%;
            }

            @include respond(sm) {
                margin-left: 0rem;
            }
        }

    }

    &__slider {
        width: 428px;
        height: 3px;

        @include respond(xl) {
            width: 75%;
            height: 3px;
        }

        @include respond(md) {
            margin-left: 10px;
            width: 100%;
            height: 3px;
        }

        @include respond(sm) {
            width: 98%;
            height: 3px;
        }
    }
}