.header {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 2rem;
    border-bottom: $border-color-dark;
    align-items: center;

    @include respond(sm) {
        margin-right: 2rem;
        display: inline-block;
    }

    @include respond(lg) {
        margin-right: 2rem;
        display: inline-block;
    }

    &__title {
        font-family: $font-family-display;
        font-size: $font-size-tb2;
        line-height: $input-line-height-tb2;
        letter-spacing: 0%;
        text-transform: uppercase;
        display: flex;

        @include respond(sm) {
            font-size: $font-size-tb3;
            display: inline-block;
        }

        &--all {
            font-weight: $font-weight-extralight;
            padding-right: 1rem;

            @include respond(sm) {
                line-height: $input-line-height-h3;
                padding-right: 0rem;
            }
        }

        &--event {
            font-weight: $font-weight-thin;
            @include respond(sm) {
                line-height: $input-line-height-h1;
                padding-right: 0rem;
            }
        }
    }

    &__content {
        height: 100%;
        text-transform: uppercase;
        font-size: $font-size-h4;
        line-height: $input-line-height-h4;
        letter-spacing: 2%;
        font-weight: $font-weight-medium;


        @include respond(sm) {
            font-size: $font-size-lg;
            padding-bottom: 3rem;
            text-transform: none;
            padding-top: 1rem;
            line-height: $input-line-height-base;
            padding-right: 0rem;
        }

        @include respond(lg) {
            margin-top: -3rem;
            padding-bottom: 2rem;
        }
    }
}