.header{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0 2rem;
    border-bottom: .01rem solid $color-background-dark;
    align-items: center;

    &__title{
        font-family: $font-family-display;
        font-size: 13rem;
        line-height: 15rem;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: $color-text-dark;
        display: flex;


        &--all{
            font-weight: 180;
            padding-right: 1rem;
        }

        &--event{
            font-weight: 176;
        }
    }

    &__content{
        height: 100%;
        text-transform: uppercase;
        font-family: $font-family-base;
        line-height: 4.6rem;
        letter-spacing: 2%;
        font-size: 1.7rem;
        font-weight: 500;
    }
}