.menu {
    display: none;
    visibility: hidden;
    opacity: 0;

    margin-left: -2rem;
    margin-right: -1rem;
    margin-bottom: -7rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: $border-color-dark;
    overflow: hidden;

    @include respond(sm) {
        display: flex;
        margin-left: 0rem;
        margin-right: -1rem;
        overflow: hidden;
    }

    &__all {
        margin-left: 2rem;
        list-style: none;
        margin-right: 1rem;

        @include respond(sm) {
            margin-right: 1rem;
            margin-left: 0rem;
            overflow: hidden;
        }

        &-1:hover,
        &-1:active,
        .active, .menu--active{
            color: $color-brand-primary;

            @include respond(sm) {
                color: $color-brand-primary;
                overflow: hidden;
            }
        }



    }
}

.menu--active {
    display: flex;
    visibility: visible;
    opacity: 1;
    margin-bottom: 0rem;
    overflow: hidden;

    @include respond(sm) {
        display: inline-block;
        width: 100%;
        overflow: hidden;
    }
}