.search{
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 2rem;
    border-top: $border-color-dark;
    border-bottom: $border-color-dark;
    color: $color-gray;
    height: 94px;

    @include respond(xl) {
        margin-left: 2rem;
        
    }

    @include respond(lg) {
        margin-left: 1rem;
        
    }

    @include respond(768px) {
        margin-left: 0;
        margin-right: -1rem;
        
    }

    @include respond(376px) {
        margin-right: -.5rem;
        height: 72px;
        
    }

    &__icon{
        padding-top: .66rem;
        width: 3.2rem;
        height: 3.2rem;


        @include respond(lg) {
            margin-left: -2rem;
            
        }

        @include respond(768px) {
            margin-left: 0;
            
        }

    }
    &__content{
        background: none;
        border: none;
        outline: none;
        margin-left: -1.2rem;
        text-transform: uppercase;
        font-size: $font-size-h4;
        line-height: $input-line-height-h4;
        letter-spacing: 2%;

        @include respond(480px) {
            font-size: toRem(24);
            line-height: toRem(24);
        }
    }
}