.search{
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 2.5rem;
    border-bottom: $border-color-dark;
    color: $color-gray;

    @include respond(sm) {
        margin-right: 2rem;
    }

    &__icon{
        padding-top: .66rem;
        width: 3.2rem;
        height: 3.2rem;
    }
    &__content{
        background: none;
        border: none;
        outline: none;
        margin-left: -1.2rem;
        text-transform: uppercase;
        font-size: $font-size-h4;
        line-height: $input-line-height-h4;
        letter-spacing: 2%;

        @include respond(sm) {
            font-size: $font-size-2xl;
            margin-left: .5rem;
        }
    }
}