.subscribe {
    margin-left: 2rem;
    align-items: center;
    margin-right: -2rem;

    margin-top: 3.5rem;
    overflow: hidden;

    @include respond(sm) {
        margin-left: 1rem;
        margin-right: -2rem;
        overflow: hidden;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        @include respond(sm) {
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        &--title {
            width: 40%;
            padding-top: 6%;
            text-transform: uppercase;
            font-family: $font-family-display;
            font-weight: $font-weight-light;
            font-size: $font-size-tb1;
            line-height: $input-line-height-tb2;
            letter-spacing: 1%;

            @include respond(sm) {
                font-size: $font-size-h2;
                line-height: $input-line-height-h4;
                order: -2;
            }
        }

        &--form {
            padding-top: 27%;
            display: flex;
            margin-left: -15rem;
            font-size: $font-size-xl;
            line-height: $input-line-height-xl;
            letter-spacing: 0%;
            width: 100%;

            &-email {
                height: 3.8rem;
                width: 28.5rem;
                color: $color-gray;
                background: none;
                outline: none;
                border: none;
                border-bottom: $border-color-dark;
                border-top: $border-color-dark;

                @include respond(sm) {
                    margin-left: 10%;
                }
            }

            @include respond(sm) {
                font-size: $font-size-lg;
                line-height: $input-line-height-lg;
                padding-top: 5%;
                margin-left: -2rem;
                width: 100%;
            }
        }

        &--image {
            z-index: 2;
            justify-content: end;
            align-items: end;
            overflow: hidden;
            margin-left: -45rem;

            @include respond(sm) {
                display: flex;
                margin-top: -5rem;
                margin-left: 3rem;
                justify-content: end;
                align-items: end;
                overflow: hidden;
                order: -1;
                z-index: 0;
            }

            .image__subs {
                @include respond(sm) {
                    margin-top: .3rem;
                    width: 70%;
                    overflow: hidden;
                }
            }
        }
    }

    &__brand {
        border-top: $border-color-dark;
        border-bottom: $border-color-dark;
        width: 70%;
        display: flex;
        margin-top: -11.1rem;
        margin-left: -2rem;

        @include respond(sm) {
            width: 100%;
            margin-top: 10%;
            margin-right: -4rem;
            margin-left: -2rem;
            display: inline-block;
            border-bottom: none;
        }

        &--logo {
            margin-bottom: -1rem;
            margin-left: 2rem;
            display: flex;
            font-family: $font-family-display;
            font-weight: $font-weight-base;
            font-size: $font-size-h1;
            line-height: $input-line-height-tb3;
            letter-spacing: -1%;
            color: $color-brand-primary;

            @include respond(sm) {
                margin-bottom: -3rem;
            }
        }

        &--text {
            padding-top: 2%;
            width: 45%;
            padding-left: 10rem;
            display: flex;

            @include respond(sm) {
                width: 100%;
                margin-left: 2rem;
                padding-top: 0%;
                padding-left: 0rem;
                padding-right: 2rem;
            }
        }
    }

}