.footer {
    margin-left: 2rem;
    margin-top: 2rem;
    padding-bottom: 3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    @include respond(sm) {
        font-size: $font-size-base;
        line-height: $input-line-height-base;
        display: block;
         overflow: hidden;
    }

    &__left {
        display: flex;

        @include respond(sm) {
            display: flex;
        }

        &--title {
            font-family: $font-family-display;
            font-weight: $font-weight-light;
            font-size: $font-size-2xl;
            line-height: $input-line-height-xl;
            letter-spacing: 6%;

            @include respond(sm) {
                margin-top: -.1rem;
                width: 6rem;
            }
        }

        &--content {

            &-menu {
                display: flex;
                flex-direction: row;

                @include respond(sm) {

                    width: 50%;
                    display: flex;
                    flex-direction: column;
                }
            }

            &-1 {

                @include respond(sm) {
                    padding-bottom: 1rem;
                }

            }

            list-style: none;
            line-height: $input-line-height-sm;
            letter-spacing: 2%;
        }
    }

    &__center {
        display: flex;

        @include respond(sm) {
            display: flex;
            
        }

        &--content {
            display: flex;
            flex-direction: column;
            text-transform: none;
            overflow: hidden;
        }
    }

    &__right {
        display: flex;

        @include respond(sm) {
            display: flex;
        }

        &--content {
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
    }
}