.footer {
    margin-left: 2rem;
    margin-top: 2rem;
    padding-bottom: 3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    @include respond(lg){
        margin-left: 1rem;
    }


    @include respond(768px){
        margin-left: 0rem;
        margin-right: -1rem;
    }

    @include respond(576px) {
        font-size: $font-size-base;
        line-height: $input-line-height-base;
        display: block;
        overflow: hidden;
    }

    @include respond(sm){
        margin-left: 1rem;
        margin-right: -1rem;
    }

    &__left {
        display: flex;

        @include respond(480px) {
            display: flex;
        }

        &--title {
            font-family: $font-family-display;
            font-weight: $font-weight-light;
            font-size: $font-size-2xl;
            line-height: $input-line-height-xl;
            letter-spacing: 6%;

            @include respond(768px) {
                margin-right: -5%;
            }

            @include respond(576px) {
                margin-right: 0;
                margin-top: -.1rem;
                width: 6rem;
            }
        }

        &--content {

            &-menu {
                display: flex;
                flex-direction: row;

                @include respond(lg) {
                    display: flex;
                    flex-direction: column;
                }

                @include respond(460px) {
                    width: 50%;

                }
            }

            &-1 {

                @include respond(768px) {
                    margin-bottom: .2rem;
                }

                @include respond(576px) {
                    margin-bottom: 0;
                }

                @include respond(sm) {
                    font-size: $font-family-base;
                    line-height: $input-line-height-base;
                }

            }

            &-2 {

                @include respond(lg) {
                    margin-top: -1rem;
                }


                @include respond(768px) {
                    margin-top: -.5rem;
                }

                @include respond(576px) {
                    margin-top: -1rem;
                }
            }

            list-style: none;
            line-height: $input-line-height-sm;
            letter-spacing: 2%;
        }
    }

    &__center {
        display: flex;

        @include respond(sm) {
            display: flex;

        }

        &--content {
            display: flex;
            flex-direction: column;
            text-transform: none;
        }
    }

    &__right {
        display: flex;

        @include respond(sm) {
            display: flex;
        }

        &--content {
            display: flex;
            flex-direction: column;
        }
    }
}