.nav {
    text-transform: uppercase;
    border-bottom: $border-color-dark;
    display: flex;
    justify-content: space-between;
    background-color: $color-background;
    margin-bottom: 0;
    margin-right: -2rem;

    overflow: hidden;

    @include respond(sm){
        margin-right: -2rem;
        display: flex;
    }

    @include respond(md){
        margin-right: -2rem;
        display: flex;
    }

    &__menu {
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 0;

        @include respond(sm) {
            display: flex;
            flex-direction: column;
        }

        @include respond(md) {
            display: flex;
            flex-direction: column;
        }

        &--left {
            font-size: $font-size-base;
            line-height: $input-line-height-sm;
            letter-spacing: 2%;

            top: 50%;

            @include respond(sm) {
                display: none;
                visibility: hidden;
                opacity: 0;
            }

            @include respond(md) {
                display: none;
                visibility: hidden;
                opacity: 0;
            }


            &-all {
                align-items: center;
                display: flex;

            }

            &-slash {
                padding-left: .3rem;
                padding-right: .3rem;

                @include respond(sm) {
                    display: none;
                    visibility: hidden;
                    opacity: 0;
                }

                @include respond(md) {
                    display: none;
                    visibility: hidden;
                    opacity: 0;
                }
            }

        }

        &--left:hover,
        &--left:active,
        .active {
            color: $color-brand-primary;
        }

        &--right {
            padding-left: .6rem;

            &-subs {
                font-family: $font-family-display;
                color: $color-brand-primary;
                font-size: $font-size-2xl;
                line-height: $input-line-height-2xl;
                letter-spacing: 6%;
                font-weight: bold;
                padding-top: .6rem;
                padding-right: 2rem;
                margin-bottom: 0;

                @include respond(sm) {
                    margin-right: 1rem;
                }

                @include respond(md) {
                    margin-right: 1rem;
                }
            }
        }

        &--icon {
            fill: black;
            color: black;
            width: 25px;
            height: 25px;
            margin-top: -.2rem;

            @include respond(sm) {
                display: none;
                visibility: hidden;
                opacity: 0;
            }

            @include respond(md) {
                display: none;
                visibility: hidden;
                opacity: 0;
            }

            &-down {
                margin-left: .3rem;
            }
        }

        &--icon:hover,
        &--icon:active,
        .active-hover {
            color: $color-brand-primary !important;
        }
    }

    &__brand {
        padding-top: 1%;
        font-family: $font-family-display;
        font-weight: $font-weight-base;
        font-size: 2.5rem;
        color: $color-brand-primary;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: 9rem;

        @include respond(sm) {
            padding-top: 1.5%;
            margin-left: -5rem;
            margin-right: 0rem;
        }

        @include respond(md) {
            padding-top: 1.5%;
            margin-left: -25rem;
            margin-right: 0rem;
        }
    }

    &__hamburger {
        display: none;
        visibility: hidden;
        opacity: 0;

        @include respond(sm) {
            margin: 1.2rem 0 -1.2rem -10rem;
            display: flex;
            visibility: visible;
            opacity: 1;
        }

        
        @include respond(md) {
            margin: 1.2rem 0 -1.2rem -30rem;
            display: flex;
            visibility: visible;
            opacity: 1;
        }
    }
}