.nav {
    text-transform: uppercase;
    border-bottom: $border-color-dark;
    display: flex;
    justify-content: space-between;
    background-color: $color-background;
    margin-left: -2rem;
    margin-right: -3rem;
    height: 72px;
    align-items: center;

    overflow: hidden;

    @include respond(480px) {
        margin-right: -1.5rem;
        display: flex;
        justify-content: space-between;
        height: 64px;
    }

    @include respond(sm) {
        margin-right: 0;
    }

    &__menu {
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        padding-left: 4rem;

        @include respond(768px) {
            padding-left: 0;
        }


        &-1 {
            display: flex;

            @include respond(992px) {
                display: none;
                visibility: hidden;
                opacity: 0;
                margin-right: -100%;
                position: absolute;
            }
        }

        @include respond(768px) {
            display: flex;
            flex-direction: column;
        }

        &--left {
            font-size: $font-size-base;
            line-height: $input-line-height-sm;
            letter-spacing: 2%;
            cursor: pointer;

            @include respond(768px) {
                display: none;
                visibility: hidden;
                opacity: 0;
                margin-right: -100%;
            }

            &-all {
                align-items: center;
                display: flex;

            }

            &-slash {
                padding-left: .3rem;
                padding-right: .3rem;

                @include respond(992px) {
                    display: none;
                    visibility: hidden;
                    opacity: 0;
                    margin-left: -100%;
                }
            }


        }

        &--left:hover,
        &--left:active,
        .active {
            color: $color-brand-primary;
        }

        &--right {
            cursor: pointer;
            padding-left: .6rem;
            margin-left: auto;

            @include respond(sm) {
                margin-left: auto;

            }

            &-subs {
                font-family: $font-family-display;
                color: $color-brand-primary;
                font-size: toRem(40);
                line-height: $input-line-height-2xl;
                letter-spacing: 6%;
                font-weight: bold;
                padding-top: .6rem;
                padding-right: 3rem;
                margin-bottom: 0;

                @include respond(992px) {
                    padding-left: 0;
                    justify-content: flex-end;
                    align-items: end;
                    padding-right: 2rem;
                }

                @include respond(768px) {
                    padding-right: 2rem;
                }

                @include respond(576px) {
                    font-size: toRem(32);
                    line-height: toRem(32);

                }

                @include respond(480px) {
                    padding-right: 1rem;

                }

                @include respond(sm) {
                    font-size: toRem(28);
                    line-height: toRem(28);
                    justify-content: flex-end;
                    align-items: end;

                }
            }
        }

        &--icon {
            fill: $color-icon-dark;
            color: $color-icon-dark;
            margin-top: -.5rem;
            width: 25px;
            height: 25px;

            @include respond(992px) {
                display: none;
                visibility: hidden;
                opacity: 0;
            }

            &-down {
                margin-left: .3rem;
            }
        }

        &--icon:hover,
        &--icon:active,
        .active-hover {
            color: $color-brand-primary !important;
        }
    }

    &__brand {
        font-family: $font-family-display;
        font-weight: $font-weight-base;
        font-size: toRem(44.15);
        color: $color-brand-primary;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: 9rem;

        @include respond(768px) {
            padding-top: 1.5%;
            margin-left: 0;
            margin-right: 0;
            order: -1;
        }

        @include respond(576px) {
            ont-size: toRem(36);
            line-height: toRem(36);
            padding-top: 1.7%;
            margin-left: -20%;
        }

        @include respond(480px) {
            ont-size: toRem(36);
            line-height: toRem(36);
            padding-top: 1.7%;
            margin-left: -10%;
        }
        

        @include respond(sm) {
            font-size: toRem(28);
            line-height: toRem(28);
            padding-top: 1.7%;
            margin-left: -10%;
            margin-right: 0;
        }
    }

    &__hamburger {
        display: none;
        visibility: hidden;
        opacity: 0;
        cursor: pointer;

        @include respond(992px) {
            margin: -1rem 0 -1.2rem 1rem;
            display: flex;
            visibility: visible;
            opacity: 1;
            order: -1;
        }

        @include respond(768px) {
            margin: -.3rem 0 -1.2rem 0rem;
        }
        
        @include respond(sm) {
            margin: -.5rem -0 -1.2rem 1rem;
        }
    }
}